# Virtual environments
.venv/
venv/
venv311/
venv313/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Streamlit
.streamlit/

# OS files
.DS_Store
Thumbs.db